[Unit]
Description=uWSGI Emperor service

[Service]
ExecStart=/opt/venv/bin/uwsgi --emperor /opt/url_shortener/ansible/uwsgi_setup
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
