[Unit]
Description=uWSGI Emperor service

[Service]
ExecStart={{ uwsgi_path_to_uwsgi }} --emperor {{ uwsgi_path_to_uwsgi_ini_file }}
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
